.favourite-icon:hover {
    color: red;
    cursor: pointer;
}

.added-to-favourites-message {
    color: green;
    font-size: 0.8rem;
    text-align: center;
}

.FavoriteBorderIcon {
    color: red;
}

